@use "variables" as vars;
@use "colors";

##{vars.$xmonkey-wrapper} {
  min-width: 200px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(colors.$bg, 0.99);
  border-radius: vars.$border-radius;
  z-index: 999999;
  overflow: hidden;

  font-family: vars.$font-family;
  font-size: 12px;
  * {
    font-size: 12px;
    font-family: vars.$font-family;
    color: colors.$white;
    button {
      color: colors.$black;
    }
  }
  pre {
    overflow: auto;
  }

  input,
  select,
  option,
  textarea {
    color: colors.$bg;
    background-color: colors.$white !important;
  }

  input[type="checkbox"] {
    margin-left: 2px;
    margin-right: 2px;
  }

  .#{vars.$xmonkey-container} {
    max-height: 1000px;
    transition: max-height 70ms;
    &:has(.b-collapsed) {
      max-height: 15px;
    }
    &:has(.#{vars.$xmonkey-header}) {
      margin-top: 0;
    }
  }

  .#{vars.$xmonkey-body} {
    padding: 3px;
  }

  .#{vars.$xmonkey-header} {
    height: 15px;
    line-height: 15px !important;
    background-color: colors.$primary;
    width: 100%;
    // border-top-left-radius: vars.$border-radius;
    // border-top-right-radius: vars.$border-radius;
    .xmwr-x {
      font-family: monospace !important;
      cursor: pointer;
      position: absolute;
      right: 0px;
      top: 0px;
      font-weight: bold;
      background-color: colors.$black;
      padding: 0 5px;
      height: 15px;
    }
  }
}
